<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>2.32.2</version>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>false</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:babud</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:drajvi</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:jasminder</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:nitinkr</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:ydwaraka</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:babud</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:drajvi</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:jasminder</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:nitinkr</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:ydwaraka</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:babud</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:drajvi</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:jasminder</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:nitinkr</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:babud</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:drajvi</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:jasminder</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:nitinkr</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:babud</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:drajvi</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:jasminder</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:nitinkr</permission>
    <permission>hudson.model.Computer.Build:babud</permission>
    <permission>hudson.model.Computer.Build:drajvi</permission>
    <permission>hudson.model.Computer.Build:jasminder</permission>
    <permission>hudson.model.Computer.Build:nitinkr</permission>
    <permission>hudson.model.Computer.Build:ydwaraka</permission>
    <permission>hudson.model.Computer.Configure:babud</permission>
    <permission>hudson.model.Computer.Configure:drajvi</permission>
    <permission>hudson.model.Computer.Configure:jasminder</permission>
    <permission>hudson.model.Computer.Configure:nitinkr</permission>
    <permission>hudson.model.Computer.Configure:ydwaraka</permission>
    <permission>hudson.model.Computer.Connect:babud</permission>
    <permission>hudson.model.Computer.Connect:drajvi</permission>
    <permission>hudson.model.Computer.Connect:jasminder</permission>
    <permission>hudson.model.Computer.Connect:nitinkr</permission>
    <permission>hudson.model.Computer.Create:babud</permission>
    <permission>hudson.model.Computer.Create:drajvi</permission>
    <permission>hudson.model.Computer.Create:jasminder</permission>
    <permission>hudson.model.Computer.Create:nitinkr</permission>
    <permission>hudson.model.Computer.Delete:babud</permission>
    <permission>hudson.model.Computer.Delete:drajvi</permission>
    <permission>hudson.model.Computer.Delete:jasminder</permission>
    <permission>hudson.model.Computer.Delete:nitinkr</permission>
    <permission>hudson.model.Computer.Disconnect:babud</permission>
    <permission>hudson.model.Computer.Disconnect:drajvi</permission>
    <permission>hudson.model.Computer.Disconnect:jasminder</permission>
    <permission>hudson.model.Computer.Disconnect:nitinkr</permission>
    <permission>hudson.model.Hudson.Administer:babud</permission>
    <permission>hudson.model.Hudson.Administer:drajvi</permission>
    <permission>hudson.model.Hudson.Administer:jasminder</permission>
    <permission>hudson.model.Hudson.Administer:nitinkr</permission>
    <permission>hudson.model.Hudson.Administer:ydwaraka</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:babud</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:drajvi</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:jasminder</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:nitinkr</permission>
    <permission>hudson.model.Hudson.Read:babud</permission>
    <permission>hudson.model.Hudson.Read:drajvi</permission>
    <permission>hudson.model.Hudson.Read:jasminder</permission>
    <permission>hudson.model.Hudson.Read:nitinkr</permission>
    <permission>hudson.model.Hudson.Read:ydwaraka</permission>
    <permission>hudson.model.Hudson.RunScripts:babud</permission>
    <permission>hudson.model.Hudson.RunScripts:drajvi</permission>
    <permission>hudson.model.Hudson.RunScripts:jasminder</permission>
    <permission>hudson.model.Hudson.RunScripts:nitinkr</permission>
    <permission>hudson.model.Hudson.RunScripts:ydwaraka</permission>
    <permission>hudson.model.Hudson.UploadPlugins:babud</permission>
    <permission>hudson.model.Hudson.UploadPlugins:drajvi</permission>
    <permission>hudson.model.Hudson.UploadPlugins:jasminder</permission>
    <permission>hudson.model.Hudson.UploadPlugins:nitinkr</permission>
    <permission>hudson.model.Item.Build:babud</permission>
    <permission>hudson.model.Item.Build:drajvi</permission>
    <permission>hudson.model.Item.Build:jasminder</permission>
    <permission>hudson.model.Item.Build:nitinkr</permission>
    <permission>hudson.model.Item.Build:ydwaraka</permission>
    <permission>hudson.model.Item.Cancel:babud</permission>
    <permission>hudson.model.Item.Cancel:drajvi</permission>
    <permission>hudson.model.Item.Cancel:jasminder</permission>
    <permission>hudson.model.Item.Cancel:nitinkr</permission>
    <permission>hudson.model.Item.Cancel:ydwaraka</permission>
    <permission>hudson.model.Item.Configure:babud</permission>
    <permission>hudson.model.Item.Configure:drajvi</permission>
    <permission>hudson.model.Item.Configure:jasminder</permission>
    <permission>hudson.model.Item.Configure:nitinkr</permission>
    <permission>hudson.model.Item.Configure:ydwaraka</permission>
    <permission>hudson.model.Item.Create:babud</permission>
    <permission>hudson.model.Item.Create:drajvi</permission>
    <permission>hudson.model.Item.Create:jasminder</permission>
    <permission>hudson.model.Item.Create:nitinkr</permission>
    <permission>hudson.model.Item.Delete:babud</permission>
    <permission>hudson.model.Item.Delete:drajvi</permission>
    <permission>hudson.model.Item.Delete:jasminder</permission>
    <permission>hudson.model.Item.Delete:nitinkr</permission>
    <permission>hudson.model.Item.Discover:babud</permission>
    <permission>hudson.model.Item.Discover:drajvi</permission>
    <permission>hudson.model.Item.Discover:jasminder</permission>
    <permission>hudson.model.Item.Discover:nitinkr</permission>
    <permission>hudson.model.Item.Move:babud</permission>
    <permission>hudson.model.Item.Move:drajvi</permission>
    <permission>hudson.model.Item.Move:jasminder</permission>
    <permission>hudson.model.Item.Move:nitinkr</permission>
    <permission>hudson.model.Item.Read:babud</permission>
    <permission>hudson.model.Item.Read:drajvi</permission>
    <permission>hudson.model.Item.Read:jasminder</permission>
    <permission>hudson.model.Item.Read:nitinkr</permission>
    <permission>hudson.model.Item.Workspace:babud</permission>
    <permission>hudson.model.Item.Workspace:drajvi</permission>
    <permission>hudson.model.Item.Workspace:jasminder</permission>
    <permission>hudson.model.Item.Workspace:nitinkr</permission>
    <permission>hudson.model.Item.Workspace:ydwaraka</permission>
    <permission>hudson.model.Run.Delete:babud</permission>
    <permission>hudson.model.Run.Delete:drajvi</permission>
    <permission>hudson.model.Run.Delete:jasminder</permission>
    <permission>hudson.model.Run.Delete:nitinkr</permission>
    <permission>hudson.model.Run.Delete:ydwaraka</permission>
    <permission>hudson.model.Run.Replay:babud</permission>
    <permission>hudson.model.Run.Replay:drajvi</permission>
    <permission>hudson.model.Run.Replay:jasminder</permission>
    <permission>hudson.model.Run.Replay:nitinkr</permission>
    <permission>hudson.model.Run.Replay:ydwaraka</permission>
    <permission>hudson.model.Run.Update:babud</permission>
    <permission>hudson.model.Run.Update:drajvi</permission>
    <permission>hudson.model.Run.Update:jasminder</permission>
    <permission>hudson.model.Run.Update:nitinkr</permission>
    <permission>hudson.model.Run.Update:ydwaraka</permission>
    <permission>hudson.model.View.Configure:babud</permission>
    <permission>hudson.model.View.Configure:drajvi</permission>
    <permission>hudson.model.View.Configure:jasminder</permission>
    <permission>hudson.model.View.Configure:nitinkr</permission>
    <permission>hudson.model.View.Configure:ydwaraka</permission>
    <permission>hudson.model.View.Create:babud</permission>
    <permission>hudson.model.View.Create:drajvi</permission>
    <permission>hudson.model.View.Create:jasminder</permission>
    <permission>hudson.model.View.Create:nitinkr</permission>
    <permission>hudson.model.View.Create:ydwaraka</permission>
    <permission>hudson.model.View.Delete:babud</permission>
    <permission>hudson.model.View.Delete:drajvi</permission>
    <permission>hudson.model.View.Delete:jasminder</permission>
    <permission>hudson.model.View.Delete:nitinkr</permission>
    <permission>hudson.model.View.Delete:ydwaraka</permission>
    <permission>hudson.model.View.Read:babud</permission>
    <permission>hudson.model.View.Read:drajvi</permission>
    <permission>hudson.model.View.Read:jasminder</permission>
    <permission>hudson.model.View.Read:nitinkr</permission>
    <permission>hudson.model.View.Read:ydwaraka</permission>
    <permission>hudson.scm.SCM.Tag:babud</permission>
    <permission>hudson.scm.SCM.Tag:drajvi</permission>
    <permission>hudson.scm.SCM.Tag:jasminder</permission>
    <permission>hudson.scm.SCM.Tag:nitinkr</permission>
    <permission>hudson.scm.SCM.Tag:ydwaraka</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>false</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULLNAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>-1</slaveAgentPort>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>
